body{text-align:center;background:#000000;padding:0;border:0;margin:0;height:100%}
html{-ms-touch-action:none;overflow:hidden}
div,canvas{display:block;position:absolute;margin:0 auto;padding:0;border:0}
